.elementor-element.elementor-element-dbfe648 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:21px;font-weight:600;}.elementor-element.elementor-element-e54b98c:not(.elementor-motion-effects-element-type-background), .elementor-element.elementor-element-e54b98c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-element.elementor-element-e54b98c{border-style:solid;border-width:1px 1px 1px 1px;border-color:#D6D6D6;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:1em;margin-bottom:1em;padding:20px 20px 20px 20px;}.elementor-element.elementor-element-e54b98c, .elementor-element.elementor-element-e54b98c > .elementor-background-overlay{border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-e54b98c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-element.elementor-element-672f3eb > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-element.elementor-element-7896315 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:21px;font-weight:600;}.elementor-element.elementor-element-7896315 > .elementor-widget-container{margin:0em 0em 2em 0em;}.elementor-element.elementor-element-9e81248 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:21px;font-weight:600;}.elementor-element.elementor-element-6a333b0 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-6a333b0 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-element.elementor-element-aa1bc33 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:700;text-transform:uppercase;}.elementor-element.elementor-element-063e3e2 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-element.elementor-element-1cbbff7 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:700;text-transform:uppercase;}.elementor-element.elementor-element-43e7773 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-element.elementor-element-f6d2c3a .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:700;text-transform:uppercase;}.elementor-element.elementor-element-591c423 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-element.elementor-element-b2dd4d2 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:700;text-transform:uppercase;}.elementor-element.elementor-element-4bcf9da .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:11px;font-weight:500;}.elementor-element.elementor-element-d83aa06 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-element.elementor-element-affe04d .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:700;text-transform:uppercase;}.elementor-element.elementor-element-4ffa4b7 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-element.elementor-element-7d92252:not(.elementor-motion-effects-element-type-background), .elementor-element.elementor-element-7d92252 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-element.elementor-element-7d92252{border-style:solid;border-width:1px 1px 1px 1px;border-color:#D6D6D6;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:1em;margin-bottom:1em;padding:20px 20px 20px 20px;}.elementor-element.elementor-element-7d92252, .elementor-element.elementor-element-7d92252 > .elementor-background-overlay{border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-7d92252 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-element.elementor-element-fbc8afb > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-element.elementor-element-7722c1e .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:21px;font-weight:600;}.elementor-element.elementor-element-7722c1e > .elementor-widget-container{margin:0em 0em 2em 0em;}.elementor-element.elementor-element-f20219b:not(.elementor-motion-effects-element-type-background), .elementor-element.elementor-element-f20219b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-element.elementor-element-f20219b{border-style:solid;border-width:1px 1px 1px 1px;border-color:#D6D6D6;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:1em;margin-bottom:1em;padding:20px 20px 20px 20px;}.elementor-element.elementor-element-f20219b, .elementor-element.elementor-element-f20219b > .elementor-background-overlay{border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-f20219b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-element.elementor-element-d845943 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:8px;}.elementor-element.elementor-element-a809190 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:21px;font-weight:600;}.elementor-element.elementor-element-a809190 > .elementor-widget-container{margin:0em 0em 2em 0em;}.elementor-element.elementor-element-bc93ce8 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-element.elementor-element-3bda344 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:400;}.elementor-element.elementor-element-3bda344 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-ff3d6a6:not(.elementor-motion-effects-element-type-background), .elementor-element.elementor-element-ff3d6a6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-element.elementor-element-ff3d6a6{border-style:solid;border-width:1px 1px 1px 1px;border-color:#D6D6D6;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:1em;margin-bottom:1em;padding:20px 20px 20px 20px;}.elementor-element.elementor-element-ff3d6a6, .elementor-element.elementor-element-ff3d6a6 > .elementor-background-overlay{border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-ff3d6a6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-element.elementor-element-e6394ef > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:15px;}.elementor-element.elementor-element-e6394ef > .elementor-element-populated{padding:10px 0px 10px 10px;}.elementor-element.elementor-element-23b2b67 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-23b2b67 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-4b3110d .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-4b3110d > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-7fb9c7f{--divider-border-style:solid;--divider-color:#E6E6E6;--divider-border-width:1px;}.elementor-element.elementor-element-7fb9c7f .elementor-divider-separator{width:100%;}.elementor-element.elementor-element-7fb9c7f .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-element.elementor-element-512aba4 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:700;}.elementor-element.elementor-element-512aba4 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-e65931d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:15px;}.elementor-element.elementor-element-e65931d > .elementor-element-populated{padding:10px 10px 10px 0px;}.elementor-element.elementor-element-303f853{text-align:right;}.elementor-element.elementor-element-303f853 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-303f853 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-cfa96b0{text-align:right;}.elementor-element.elementor-element-cfa96b0 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-cfa96b0 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-11de608{--divider-border-style:solid;--divider-color:#E6E6E6;--divider-border-width:1px;}.elementor-element.elementor-element-11de608 .elementor-divider-separator{width:100%;}.elementor-element.elementor-element-11de608 .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-element.elementor-element-90fb2cd{text-align:right;}.elementor-element.elementor-element-90fb2cd .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:23px;font-weight:700;}.elementor-element.elementor-element-90fb2cd > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-4703058 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:22px;font-weight:400;}.elementor-element.elementor-element-4703058 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-6f55711:not(.elementor-motion-effects-element-type-background), .elementor-element.elementor-element-6f55711 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-element.elementor-element-6f55711{border-style:solid;border-width:1px 1px 1px 1px;border-color:#D6D6D6;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:1em;margin-bottom:1em;padding:20px 20px 20px 20px;}.elementor-element.elementor-element-6f55711, .elementor-element.elementor-element-6f55711 > .elementor-background-overlay{border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-6f55711 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-element.elementor-element-bc2d0d8 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-element.elementor-element-20673eb{text-align:left;}.elementor-element.elementor-element-20673eb img{width:11%;}.elementor-element.elementor-element-510e234 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:600;}.elementor-element.elementor-element-510e234 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-6d1fa9b .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-6d1fa9b > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-31661f5.elementor-position-right .elementor-image-box-img{margin-left:7px;}.elementor-element.elementor-element-31661f5.elementor-position-left .elementor-image-box-img{margin-right:7px;}.elementor-element.elementor-element-31661f5.elementor-position-top .elementor-image-box-img{margin-bottom:7px;}.elementor-element.elementor-element-31661f5 .elementor-image-box-wrapper .elementor-image-box-img{width:30%;}.elementor-element.elementor-element-31661f5 .elementor-image-box-img img{transition-duration:0.3s;}.elementor-element.elementor-element-31661f5 .elementor-image-box-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:12px;font-weight:500;}.elementor-element.elementor-element-3d18535{--divider-border-style:solid;--divider-color:#BDBDBD;--divider-border-width:1px;}.elementor-element.elementor-element-3d18535 .elementor-divider-separator{width:100%;}.elementor-element.elementor-element-3d18535 .elementor-divider{padding-top:0px;padding-bottom:0px;}.elementor-element.elementor-element-f1295c2 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-f1295c2 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-1bfa476 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:700;}.elementor-element.elementor-element-1bfa476 > .elementor-widget-container{margin:-6px 0px 0px 0px;}.elementor-element.elementor-element-a3cbb80 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;}.elementor-element.elementor-element-a3cbb80 > .elementor-widget-container{margin:-6px 0px 0px 0px;}.elementor-element.elementor-element-921eb20.elementor-view-stacked .elementor-icon{background-color:#3F3F3F;}.elementor-element.elementor-element-921eb20.elementor-view-framed .elementor-icon, .elementor-element.elementor-element-921eb20.elementor-view-default .elementor-icon{fill:#3F3F3F;color:#3F3F3F;border-color:#3F3F3F;}.elementor-element.elementor-element-921eb20{--icon-box-icon-margin:12px;}.elementor-element.elementor-element-921eb20 .elementor-icon{font-size:19px;}.elementor-element.elementor-element-921eb20 .elementor-icon-box-title{margin-bottom:0px;color:#3F3F3F;}.elementor-element.elementor-element-921eb20 .elementor-icon-box-title, .elementor-element.elementor-element-921eb20 .elementor-icon-box-title a{font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-921eb20 .elementor-icon-box-description{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-weight:500;}.elementor-element.elementor-element-921eb20 > .elementor-widget-container{margin:0px 0px 14px 0px;}.elementor-element.elementor-element-b1e73e5 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-b1e73e5 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-567d564 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:700;}.elementor-element.elementor-element-567d564 > .elementor-widget-container{margin:-6px 0px 0px 0px;}.elementor-element.elementor-element-e717eb5 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;}.elementor-element.elementor-element-e717eb5 > .elementor-widget-container{margin:-6px 0px 0px 0px;}.elementor-element.elementor-element-01f5dad.elementor-view-stacked .elementor-icon{background-color:#3F3F3F;}.elementor-element.elementor-element-01f5dad.elementor-view-framed .elementor-icon, .elementor-element.elementor-element-01f5dad.elementor-view-default .elementor-icon{fill:#3F3F3F;color:#3F3F3F;border-color:#3F3F3F;}.elementor-element.elementor-element-01f5dad{--icon-box-icon-margin:12px;}.elementor-element.elementor-element-01f5dad .elementor-icon{font-size:19px;}.elementor-element.elementor-element-01f5dad .elementor-icon-box-title{margin-bottom:0px;color:#3F3F3F;}.elementor-element.elementor-element-01f5dad .elementor-icon-box-title, .elementor-element.elementor-element-01f5dad .elementor-icon-box-title a{font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-01f5dad .elementor-icon-box-description{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-weight:500;}.elementor-element.elementor-element-01f5dad > .elementor-widget-container{margin:0px 0px 14px 0px;}.elementor-element.elementor-element-5321127 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:11px;font-weight:600;}.elementor-element.elementor-element-5321127 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-d35a4cd .elementor-icon-list-icon i{color:#3F3F3F;transition:color 0.3s;}.elementor-element.elementor-element-d35a4cd .elementor-icon-list-icon svg{fill:#3F3F3F;transition:fill 0.3s;}.elementor-element.elementor-element-d35a4cd{--e-icon-list-icon-size:13px;--e-icon-list-icon-align:center;--e-icon-list-icon-margin:0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);--icon-vertical-align:center;--icon-vertical-offset:0px;}.elementor-element.elementor-element-d35a4cd .elementor-icon-list-item > .elementor-icon-list-text, .elementor-element.elementor-element-d35a4cd .elementor-icon-list-item > a{font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-d35a4cd .elementor-icon-list-text{color:#3F3F3F;transition:color 0.3s;}.elementor-element.elementor-element-d35a4cd > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-element.elementor-element-3fe1025 .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:11px;font-weight:600;}.elementor-element.elementor-element-3fe1025 > .elementor-widget-container{margin:0em 0em 0em 0em;}.elementor-element.elementor-element-6fa8caf .elementor-heading-title{color:#3F3F3F;font-family:"Montserrat", Sans-serif;font-size:13px;font-weight:500;}.elementor-element.elementor-element-6fa8caf > .elementor-widget-container{margin:0em 0em 0em 0em;}@media(max-width:767px){.elementor-element.elementor-element-dbfe648 .elementor-heading-title{font-size:18px;}.elementor-element.elementor-element-7896315 .elementor-heading-title{font-size:18px;}.elementor-element.elementor-element-9e81248 .elementor-heading-title{font-size:19px;}.elementor-element.elementor-element-6a333b0 .elementor-heading-title{font-size:12px;}.elementor-element.elementor-element-7722c1e .elementor-heading-title{font-size:18px;}.elementor-element.elementor-element-a809190 .elementor-heading-title{font-size:18px;}.elementor-element.elementor-element-e6394ef{width:60%;}.elementor-element.elementor-element-e6394ef > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:5px;}.elementor-element.elementor-element-23b2b67 .elementor-heading-title{font-size:12px;}.elementor-element.elementor-element-4b3110d .elementor-heading-title{font-size:12px;}.elementor-element.elementor-element-e65931d{width:40%;}.elementor-element.elementor-element-e65931d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:5px;}.elementor-element.elementor-element-303f853{text-align:right;}.elementor-element.elementor-element-303f853 .elementor-heading-title{font-size:12px;}.elementor-element.elementor-element-cfa96b0{text-align:right;}.elementor-element.elementor-element-cfa96b0 .elementor-heading-title{font-size:12px;}.elementor-element.elementor-element-20673eb{text-align:center;}.elementor-element.elementor-element-20673eb img{width:9%;}.elementor-element.elementor-element-510e234{text-align:center;}.elementor-element.elementor-element-510e234 .elementor-heading-title{font-size:16px;}.elementor-element.elementor-element-6d1fa9b{text-align:center;}.elementor-element.elementor-element-31661f5 .elementor-image-box-img{margin-bottom:3px;}.elementor-element.elementor-element-31661f5.elementor-position-right .elementor-image-box-img{margin-left:3px;}.elementor-element.elementor-element-31661f5.elementor-position-left .elementor-image-box-img{margin-right:3px;}.elementor-element.elementor-element-31661f5.elementor-position-top .elementor-image-box-img{margin-bottom:3px;}.elementor-element.elementor-element-31661f5 .elementor-image-box-wrapper .elementor-image-box-img{width:24%;}.elementor-element.elementor-element-f1295c2{text-align:center;}.elementor-element.elementor-element-1bfa476{text-align:center;}.elementor-element.elementor-element-a3cbb80{text-align:center;}.elementor-element.elementor-element-b1e73e5{text-align:center;}.elementor-element.elementor-element-567d564{text-align:center;}.elementor-element.elementor-element-e717eb5{text-align:center;}.elementor-element.elementor-element-5321127{text-align:center;}.elementor-element.elementor-element-3fe1025{text-align:center;}.elementor-element.elementor-element-6fa8caf{text-align:center;}}@media(min-width:768px){.elementor-element.elementor-element-b8f60ea{width:62.435%;}.elementor-element.elementor-element-bc93ce8{width:36.865%;}.elementor-element.elementor-element-e6394ef{width:50.742%;}.elementor-element.elementor-element-e65931d{width:49.073%;}}/* Start custom CSS for html, class: .elementor-element-063e3e2 */.inputTextCheckout{
    font-size: 14px;
    font-family: 'Montserrat';
    border: 1px solid #ddd !important;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-43e7773 */.inputTextCheckout{
    font-size: 14px;
    font-family: 'Montserrat';
    border: 1px solid #ddd !important;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-591c423 */.inputTextCheckout{
    font-size: 14px;
    font-family: 'Montserrat';
    border: 1px solid #ddd !important;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-d83aa06 */.inputTextCheckout{
    font-size: 14px;
    font-family: 'Montserrat';
    border: 1px solid #ddd !important;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-4ffa4b7 */.inputTextCheckout{
    font-size: 14px;
    font-family: 'Montserrat';
    border: 1px solid #ddd !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ed66d0f */body{
    background-color: #f0f0f0;
}/* End custom CSS */

/*! elementor - v3.14.0 - 26-06-2023 */.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}

/*! elementor - v3.14.0 - 26-06-2023 */.elementor-widget-divider,.elementor-widget-divider--separator-type-pattern{--divider-border-style:none}.elementor-widget-divider{--divider-border-width:1px;--divider-color:#0c0d0e;--divider-icon-size:20px;--divider-element-spacing:10px;--divider-pattern-height:24px;--divider-pattern-size:20px;--divider-pattern-url:none;--divider-pattern-repeat:repeat-x}.elementor-widget-divider .elementor-divider{display:flex}.elementor-widget-divider .elementor-divider__text{font-size:15px;line-height:1;max-width:95%}.elementor-widget-divider .elementor-divider__element{margin:0 var(--divider-element-spacing);flex-shrink:0}.elementor-widget-divider .elementor-icon{font-size:var(--divider-icon-size)}.elementor-widget-divider .elementor-divider-separator{display:flex;margin:0;direction:ltr}.elementor-widget-divider--view-line_icon .elementor-divider-separator,.elementor-widget-divider--view-line_text .elementor-divider-separator{align-items:center}.elementor-widget-divider--view-line_icon .elementor-divider-separator:after,.elementor-widget-divider--view-line_icon .elementor-divider-separator:before,.elementor-widget-divider--view-line_text .elementor-divider-separator:after,.elementor-widget-divider--view-line_text .elementor-divider-separator:before{display:block;content:"";border-bottom:0;flex-grow:1;border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--element-align-left .elementor-divider .elementor-divider-separator>.elementor-divider__svg:first-of-type,.elementor-widget-divider--element-align-right .elementor-divider .elementor-divider-separator>.elementor-divider__svg:last-of-type{flex-grow:0;flex-shrink:100}.elementor-widget-divider--element-align-left .elementor-divider-separator:before,.elementor-widget-divider--element-align-right .elementor-divider-separator:after{content:none}.elementor-widget-divider--element-align-left .elementor-divider__element{margin-left:0}.elementor-widget-divider--element-align-right .elementor-divider__element{margin-right:0}.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator{border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line .elementor-divider-separator,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:after,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:before,.elementor-widget-divider--separator-type-pattern:not([class*=elementor-widget-divider--view]) .elementor-divider-separator{width:100%;min-height:var(--divider-pattern-height);-webkit-mask-size:var(--divider-pattern-size) 100%;mask-size:var(--divider-pattern-size) 100%;-webkit-mask-repeat:var(--divider-pattern-repeat);mask-repeat:var(--divider-pattern-repeat);background-color:var(--divider-color);-webkit-mask-image:var(--divider-pattern-url);mask-image:var(--divider-pattern-url)}.elementor-widget-divider--no-spacing{--divider-pattern-size:auto}.elementor-widget-divider--bg-round{--divider-pattern-repeat:round}.rtl .elementor-widget-divider .elementor-divider__text{direction:rtl}.e-con-inner>.elementor-widget-divider,.e-con>.elementor-widget-divider{width:var(--container-widget-width,100%);--flex-grow:var(--container-widget-flex-grow)}

/*! elementor - v3.14.0 - 26-06-2023 */.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}

/*! elementor - v3.14.0 - 26-06-2023 */.elementor-widget-image-box .elementor-image-box-content{width:100%}@media (min-width:768px){.elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper,.elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper{display:flex}.elementor-widget-image-box.elementor-position-right .elementor-image-box-wrapper{text-align:right;flex-direction:row-reverse}.elementor-widget-image-box.elementor-position-left .elementor-image-box-wrapper{text-align:left;flex-direction:row}.elementor-widget-image-box.elementor-position-top .elementor-image-box-img{margin:auto}.elementor-widget-image-box.elementor-vertical-align-top .elementor-image-box-wrapper{align-items:flex-start}.elementor-widget-image-box.elementor-vertical-align-middle .elementor-image-box-wrapper{align-items:center}.elementor-widget-image-box.elementor-vertical-align-bottom .elementor-image-box-wrapper{align-items:flex-end}}@media (max-width:767px){.elementor-widget-image-box .elementor-image-box-img{margin-left:auto!important;margin-right:auto!important;margin-bottom:15px}}.elementor-widget-image-box .elementor-image-box-img{display:inline-block}.elementor-widget-image-box .elementor-image-box-title a{color:inherit}.elementor-widget-image-box .elementor-image-box-wrapper{text-align:center}.elementor-widget-image-box .elementor-image-box-description{margin:0}

/*

		 * CSS payment card

		 */ 



		.payment-card__footer{

			text-align: center;

			margin-top: 2rem;

		}



		.bank-card{

			position: relative;

		}



		@media screen and (min-width: 481px){



		    .bank-card{

		    	height: 21rem;

		    }



		    .bank-card__side{

		    	border-radius: 10px;

		    	border: 1px solid transparent;

				  position: absolute;

				  width: 65%;

		    }



		    .bank-card__side_front{ 

		    	padding: 5%;

		    	box-shadow: 0 0 10px #545454;

		    	border-color: #a29e97;



		    	top: 0;

		    	left: 0;

		    	z-index: 3;

		    }



		    .bank-card__side_back{

		    	background-color: #e0ddd7;

		    	padding: 20.5% 5% 11%;

		    	box-shadow: 0 0 2rem #f3f3f3;



		    	text-align: right;

		    	border-color: #dad9d6;



				  top: 12%;

		    	right: 0;

		    }



		    .bank-card__side_back:before{

		    	content: "";

		    	width: 100%;

		    	height: 25%; 



		    	position: absolute;

		    	top: 14%;

		    	right: 0;

		    }

		}



		@media screen and (max-width: 480px){



		    .bank-card__side{

		        border: 1px solid #a29e97;
 

		        padding-left: 5%;

		        padding-right: 5%;

		    }



		    .bank-card__side_front{

		        border-radius: 10px 10px 0 0;

		        border-bottom: none;

		        padding-top: 5%;

		    }



		    .bank-card__side_back{

		        border-radius: 0 0 10px 10px;

		        border-top: none;

		        padding-bottom: 5%;

		    }

		}



		.bank-card__inner{

			margin-bottom: 4%;

		}



		.bank-card__inner:last-child{

			margin-bottom: 0;

		}



		.bank-card__label{

			display: inline-block;

			vertical-align: middle;

		}



		.bank-card__label_holder, .bank-card__label_number{

			width: 100%;

		}



		@media screen and (min-width: 481px){



		    .bank-card__month, .bank-card__year, .bank-card__operadora{

		        width: 25%;

		    }

		}



		@media screen and (max-width: 480px){



		    .bank-card__month, .bank-card__year, .bank-card__operadora{

		        width: 48%;

		    }

		}



		@media screen and (min-width: 481px){



		    .bank-card__cvc{

		        width: 25%;

		    }

		}



		@media screen and (max-width: 480px){



		    .bank-card__cvc{

		        width: 100%;

		        margin-top: 4%;

		    }

		}



		.bank-card__hint{

			position: absolute;

			left: -9999px;

		}



		.bank-card__caption{

			text-transform: uppercase;

			font-size: 1.1rem;

		  margin-left: 1%;

		}



		.bank-card__field{

			box-sizing: border-box;

			border: 1px solid #cecece !important;

			width: 100%;

			height: 44px;

			padding: 1rem;

			font-family: 'Montserrat';

			font-size: 100%;

		}

.input-group-prepend{ 
		    		padding: 10px 16px; 
				    background-color: #ddd;  
				    border-radius: 10px 0px 0px 10px; 
		    	} 
		    	.input-group .form-control{ 
		    		border: 1px solid #ddd;  
		    		font-size: 15px; 
		    	} 
		    	.input-group .form-control:focus{ 
		    		box-shadow: none; 
		    		border: 1px solid #ddd; 
		    	}

.address label{ 

			color: #3F3F3F;font-family: Montserrat, Sans-serif;font-size: 13px;font-weight: 700;text-transform: uppercase; margin-bottom: 8px;

		}


		.bank-card__field:focus{

			outline: none;

			border-color: #fdde60;

		}



		.bank-card__separator{

			font-size: 3.2rem;

			color: #c4c4c3;



			margin-left: 3%;

			margin-right: 3%;

			display: inline-block;

			vertical-align: middle;

		}



		@media screen and (max-width: 480px){



		    .bank-card__separator{

		        display: none;

		    }

		}



		@media screen and (min-width: 481px){



		    .bank-card__footer{

		        background-image: url("https://stas-melnikov.ru/demo-icons/mastercard-colored.svg"), url("https://stas-melnikov.ru/demo-icons/visa-colored.svg");

		        background-repeat: no-repeat;

		        background-position: 78% 50%, 100% 50% ;

		    }

		}



		@media screen and (max-width: 480px){



		    .bank-card__footer{

		        display: flex;

		        justify-content: space-between;

		    }

		}



		.payment-card__button{



			background-color: #ada093;

			transition: background-color .4s ease-out;



			border-radius: 5px;

			border: 3px solid transparent;

			cursor: pointer;

			padding: 1rem 6.5rem;



			font-size: 100%;

			font-family: inherit;

			color: #fff;

		}



		.payment-card__button:focus{

			outline: none;

			border-color: #fdde60;

		}



		.payment-card__button:hover, .payment-card__button:focus{

			background-color: #8e8b85;

		}



		.demo{
			width: 100%; 

		}

.certiSign p{

			margin-bottom: 0;

			font-size: 13px;

			color: #333;
font-family: Montserrat;

		}

@media(min-width:767px){ 

			.certiSign img{

				height: 36px;

				margin-bottom: 6px;

				float:right;

			}
}

@media(max-width:767px){

			.certiSign div{

				text-align: center;

			}

			.certiSign img{

				height: 36px;

				margin-bottom: 6px;

				margin: 0 auto;

			}
}
.imgRental .elementor-image-box-img{
	width:62%;
}
.imgRental .elementor-image-box-content{
	margin-left: 10px;
	height: 14px;
	padding: 12px 0;
}
.btnSelect{
	margin: 10px 0;
	width: 100%;
	border-radius: 40px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.2px;
	font-size: 15px;
	padding: 10px 30px;
    	font-family: 'Montserrat';
}